@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer
}

@layer components{
    .w-42{
        width:10.5rem;
    }
    .w-76{
        width: 19rem;
    }
    .w-98{
        width: 25rem;
    }
    .w-106{
        width: 30rem;
    }
    .w-108{
        width: 32rem; 
    }
    .w-112{
        width: 40rem; 
    }
    .h-90{
        height: 22rem;
    }
    .h-106{
        height: 26.5rem;
    }
    .h-108{
        height: 32rem;
    }
    .ml-100{
        margin-left: 30rem;
    }
    .ml-102{
        margin-left: 36rem;
    }
    .ml-104{
        margin-left: 42rem;
    }
    .ml-106{
        margin-left: 48rem;
    }
    .ml-218{
        margin-left: 64rem;
    }
    .ml-220 {
        margin-left: 66rem;
    }
    .ml-222{
        margin-left: 70rem;
    }
    .ml-228{
        margin-left: 72rem;
    }
    .ml-300{
        margin-left: 92rem;
    }
    .gap-x-22{
        column-gap: 86px;
    }
}

h1,
h3,
h4,
h5,
h6,
h7,
h8,
h9,
p,
a {
    @apply text-dusty;
    font-family: 'Lato', sans-serif;
}

h1{
    @apply lg:xl:text-7xl text-5xl font-bold lg:xl:ml-24 ml-12 pt-2;
}

.name2xl{
    @apply text-8xl ml-36 pt-4;
}

h2 {
    @apply lg:xl:text-2xl text-lg font-bold lg:leading-5 xl:leading-5 leading-6 lg:xl:ml-24 ml-12 mt-5 text-sandstone;
    font-family: 'Lato', sans-serif;
}

.bio2xl{
    @apply text-3xl ml-36 mt-7 leading-5;
}

h3 {
    @apply lg:xl:text-6xl text-4xl font-bold lg:xl:ml-24 ml-12 mt-5 mb-2
}

.skills2xl{
    @apply ml-36 mt-8 mb-4;
}

h4 {
    @apply lg:xl:text-4xl text-3xl font-bold lg:xl:ml-24 ml-12 mt-4 mb-2
}

.exp2xl{
    @apply text-5xl ml-36 mt-8 mb-4;
}

h5, h6, h7 {
    @apply lg:xl:text-6xl text-4xl font-bold lg:xl:ml-24 ml-12 mt-20 py-6 pt-16
}

.secTitles2xl{
    @apply text-6xl font-bold ml-36 mt-24 py-9;
}

.front-page{
    height: 100vh;
    width: 100%;
}

.navigation {
    @apply sticky top-0 right-0 mr-6 bg-shark w-full;
}

.nav-grid{
    @apply gap-x-6 py-6 pr-6 xl:mb-2 2xl:mb-6 bg-shark w-full;
}

.navbar{
    @apply flex flex-row justify-end lg:xl:text-base text-xs;
    font-family: 'Lato', sans-serif;
}

.navbar2xl{
    @apply flex flex-row lg:xl:text-lg mt-7 mb-16 ml-300 text-right;
    font-family: 'Lato', sans-serif;
}
 
.navItem{
    @apply mr-3 text-dune;
}

.skillsFlexBox{
    @apply flex-col lg:xl:ml-24 ml-12 lg:xl:text-xl text-lg gap-y-4 text-sandstone;
}

.skillsFlexBox2xl{
    @apply flex-col ml-36 text-2xl gap-y-4 text-sandstone;
}

.moreSkills{ 
    @apply ml-7
}

.moreSkills2xl{ 
    @apply ml-10;
}

.skill-description{
    @apply lg:xl:text-sm text-xs font-semibold accented py-1 lg:xl:w-112 w-72 mr-4;
}

.skillImg{
    @apply inline w-6 h-6
}

.skillImg2xl{
    @apply inline w-9 h-9;
}

.skillMongoImg{
    @apply inline w-3 h-6 ml-2
}

.skillMongoImg2xl{
    @apply inline w-5 h-10 ml-2 mr-1
}

.expGrid{
    @apply grid grid-cols-2 lg:xl:gap-2 gap-56
}

.expGrid2xl{
    @apply grid grid-cols-2 gap-4
}

.expFlexBoxRow{
    @apply flex flex-row flex-none;
}

.expFlexBoxCol{
    @apply flex flex-col w-96;
}

.expDate{
    @apply text-lg font-bold lg:xl:ml-24 ml-12
}

.expDate2xl{
    @apply text-2xl font-bold ml-36;
}

.expTitle{
    @apply text-lg lg:xl:ml-24 ml-12 text-dusty;
}

.expTitle2xl{
    @apply text-3xl ml-36 w-96 text-dusty;
}

.logoFlexBoxCol{
    @apply flex flex-col justify-end;
}

.logo{
    @apply absolute lg:xl:right-0 lg:xl:mr-10 mb-4 lg:xl:w-32 lg:xl:h-32 w-12 h-12;
}

.logo2xl{
    @apply absolute right-0 mb-2 w-44 h-44;
}

.projectMongoLogo{
    @apply ml-102 mb-2 w-32 h-32
}

.projectMongoLogo2xl{
    @apply ml-228 mb-2 w-44 h-44;
}

.portfolioFlexBox{
    @apply flex flex-row flex-wrap lg:xl:ml-24 ml-12 lg:xl:gap-x-22 gap-x-4;
}

.portfolioFlexBox2xl{
    @apply flex flex-row flex-wrap ml-36 gap-x-20;
}

.portfolioFlexBoxMobile{
    @apply flex flex-col ml-12 gap-x-4;
}

.projectImg{
    @apply rounded-lg lg:xl:w-96 lg:xl:h-72 xl:lg:mb-6 w-64 h-48 mb-2;
}

.projectImg2xl{
    @apply rounded-lg w-106 h-80 mb-6;
}

.projectImgSmall{
    @apply rounded-lg w-56 h-32 mb-3;
}

.projectTitleSmall{
    @apply text-2xl font-bold mb-0.5 pb-0.5;
}

.projectTextSmall{
    @apply text-base mb-3 w-96;
}

.projectTitle{
    @apply lg:xl:text-3xl text-xl font-bold xl:lg:mb-2 xl:lg:pb-2
}

.projectTitle2xl{
    @apply text-4xl font-bold mb-3 pb-2
}

.projectText{
    @apply lg:xl:text-xl leading-relaxed lg:xl:w-96 w-64
}

.projectText2xl{
    @apply text-2xl mb-5 w-106
}

.projectTextAccented{
    @apply text-lg font-bold w-96 text-dusty;
}

.projectTextAccented2xl{
    @apply text-2xl font-bold w-106 text-dusty;
}

.projectTextSmallAccented{
   @apply text-base font-bold w-96 text-dusty;
}

.techLogosFlexBox{
    @apply flex flex-row gap-x-1.5 mt-3; 
}

.projectTechLogo{
    @apply -mt-1 inline w-7 h-7 mb-6
}

.projectTechLogo2xl{
    @apply -mt-1 inline w-9 h-9 mb-20
}

.projectMongoLogo{
    @apply -mt-1 inline w-3 h-7 mb-6 ml-1
}

.projectMongoLogo2xl{
    @apply -mt-1 inline w-4 h-9 mb-20 ml-1.5
}

.addBotButton{
    @apply rounded-full py-1 px-2.5 ml-1 uppercase text-xs font-semibold cursor-pointer text-bark bg-dune;
}

.addBotButton2xl{
    @apply rounded-full py-1 px-2.5 uppercase text-xs font-semibold cursor-pointer text-bark bg-dune;
}

.travelFlexBox{
    @apply flex lg:xl:flex-row flex-col lg:xl:ml-24 ml-12 gap-x-16 mb-8 lg:xl:overflow-hidden lg:xl:text-base text-sm leading-5;
}

.travelFlexBox2xl{
    @apply flex flex-row ml-36 gap-x-20 mb-20;
}

.travelInfoBox{
    @apply mb-6 w-72 pb-3 border-l-4 border-mudbrick lg:xl:pl-5 pl-3;
}

.travelInfoTitle{
    @apply lg:xl:text-2xl text-lg font-semibold lg:xl:my-2 my-0.5 text-mudbrick;
}

.travelImgWide{
    @apply rounded-xl lg:xl:w-76 lg:xl:h-96 w-44 h-56;
}

.travelImgWide2xl{
    @apply rounded-xl w-96 h-108;
}

.travelImgWideMini{
    @apply rounded-xl mb-3 w-44 h-60;
}

.travelImgWideMini2xl{
    @apply rounded-xl mb-3 w-44 h-96;
}

.travelImgTall{
    @apply rounded-xl w-44 h-96;
}

.travelImgTall2xl{
    @apply rounded-xl w-56 h-108;
}

.travelBlogTitle{
    @apply text-2xl font-bold mt-4;
}

.travelBlogTitle2xl{
    @apply text-2xl font-bold mt-5;
}

.travelBlogDate{
    @apply text-mudbrick text-sm font-bold mb-2;
}

.travelBlogDate2xl{
    @apply accented text-lg font-bold mb-2;
}

.travelBlogBio{
    @apply text-lg mb-3 w-76;
}

.travelBlogBio2xl{
    @apply text-xl my-5 w-96 pb-6;
}

.travelBlogTitleSmall{
    @apply accented text-xl font-bold mt-3 w-76;
}

.travelBlogTitle2xl{
    @apply accented text-lg font-bold mt-3 w-60;
}

.travelBlogDateSmall{
    @apply text-sm font-bold mb-3;
}

.travelButton{
    @apply text-bark text-xs font-semibold uppercase rounded-full px-2.5 py-1 mb-9 bg-dune;
}

.moreTravelTitle{
    @apply text-5xl font-bold;
}

.moreTravelTitle2xl{
    @apply font-bold text-7xl w-56;
}

.contact{
    @apply lg:xl:text-2xl text-sm lg:xl:ml-24 ml-12 mb-16 pt-3 lg:xl:leading-10 leading-7;
}

.contact2xl{
    @apply 2xl:text-3xl 2xl:ml-36 mb-16 pt-3 2xl:leading-relaxed;
}

.accented{
  @apply text-dusty
}

.link{
    @apply text-mudbrick;
    text-decoration: underline; 
}

.link:hover{
    background-color: rgb(181, 170, 148,0.2)
}

.hover:hover {
  @apply text-mudbrick cursor-pointer;
}

.hoverAccented:hover {
  color: #b5aa94;
}

button:hover,
.addBotButton:hover {
    @apply bg-dusty text-bark;
}

.travelImgWide:hover,
.travelImgWideMini:hover,
.travelImgWideMini2xl:hover,
.travelImgTall:hover,
.projectImg:hover,
.projectImgSmall:hover
{
  webkit-filter: sepia(1) brightness(.95); /* Chrome, Safari, Opera */
  filter: sepia(1) brightness(.95);
}

html{
  scroll-behavior: smooth;;
}

.fadeInText{
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    25% { opacity:0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    25% { opacity:0; }
    100% { opacity: 1; }
}
  
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    25% { opacity:0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    25% { opacity:0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    25% { opacity:0; }
    100% { opacity: 1; }
}