@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer
}

@layer components{
    .w-76{
        width: 19rem;
    }

    .ml-100{
        margin-left: 30rem;
    }
    .ml-102{
        margin-left: 36rem;
    }
    .ml-104{
        margin-left: 42rem;
    }
    .ml-106{
        margin-left: 48rem;
    }
    .ml-220 {
        margin-left: 66rem;
    }
    .ml-228{
        margin-left: 72rem;
    }
}

h1,
h3,
h4,
h5,
h6,
h7,
h8,
h9,
p,
a {
  font-family: 'Lato', sans-serif;
  color: #e3daca;
}

h1{
    @apply text-7xl font-bold ml-24 pt-2;
}

h2 {
    @apply text-2xl font-bold ml-24 mt-5;
    font-family: 'Lato', sans-serif;
    line-height:1.25em; 
    color:#d9cfbd;
}

h3 {
    @apply text-6xl font-bold ml-24 mt-5 mb-2;
}

h4 {
    @apply text-4xl font-bold ml-24 mt-4 mb-2;
}

h5, h6, h7 {
    @apply text-6xl font-bold ml-24 mt-20 py-6;
}

.skillsFlexBox{
    @apply flex-col ml-24 text-xl;
    color:#d9cfbd;
}

.moreSkills{ @apply ml-7; }

.skillImg{
    @apply inline w-6 h-6;
}

.skillMongoImg{
    @apply inline w-3 h-6 ml-2;
}

.portfolioFlexBox{
    @apply flex flex-row ml-24 gap-x-24;
}

.projectImg{
    @apply rounded-lg w-96 h-72 mb-6;
}

.projectImgSmall{
    @apply rounded-lg w-56 h-32 mb-3;
}

.projectTitleSmall{
    @apply text-2xl font-bold mb-0.5 pb-0.5;
}

.projectTextSmall{
    @apply text-base mb-3 w-96;
}

.projectTitle{
    @apply text-3xl font-bold mb-2 pb-2;
}

.projectText{
    @apply text-xl mb-3 w-96;
}

.projectTextNoSpace{
    @apply text-lg w-96;
}

.projectTextAccented{
    @apply text-lg font-bold w-96;
    color: #c4b9a3;
}

.projectTextSmallAccented{
   @apply text-base font-bold w-96;
   color: #c4b9a3;
}

.techLogosFlexBox{
    @apply flex flex-row gap-x-1.5
}

.projectGitLogo{
    @apply -mt-1 inline w-7 h-7 mb-6;
}

.projectTechLogo{
    @apply -mt-1 inline w-7 h-7 mb-6;
}

.projectMongoLogo{
    @apply -mt-1 inline w-3 h-7 mb-6 ml-1;
}

.addBotButton{
   @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer;
}

.moreProjectsTitle{
    @apply text-7xl font-bold;
}

.travelFlexBox{
    @apply flex flex-row ml-24 gap-x-16 mb-20;
}

.travelImgWide{
    @apply rounded-md w-76 h-96;
}

.travelImgWideSmall{
    @apply rounded-md mb-3 w-44 h-60;
}

.travelImgTall{
    @apply rounded-md w-44 h-96;
}

.travelBlogTitle{
    @apply text-xl font-bold mt-3;
}

.travelBlogDate{
    @apply accented text-base font-bold mb-2;
}

.travelBlogBio{
    @apply text-lg my-3 w-76 pb-6;
}

.travelBlogTitleSmall{
    @apply accented text-base font-bold mt-3 w-48;
}

.travelBlogDateSmall{
    @apply text-sm font-bold mb-3
}

.moreTravelTitle{
    @apply text-5xl font-bold
}

.accented{
  color: #c4b9a3;
}

.link{
    color: #b5aa94;
    text-decoration: underline; 
}

.link:hover{
    background-color: rgb(181, 170, 148,0.2)
}


.navbar{
  @apply flex flex-row mt-5 mb-16 ml-228;
  font-family: 'Lato', sans-serif;
  color: #e3daca;
  text-align:right;
}

.navItem{
    @apply mr-3;
}

.hover:hover, 
.addBotButton:hover {
  color: #c4b9a3;
}

.hoverAccented:hover {
  color: #b5aa94;
}

.expGrid{
    @apply grid grid-cols-2 gap-2 
}

.expFlexBoxRow{
    @apply flex flex-row;
}

.expFlexBoxCol{
    @apply flex flex-col;
}

.expDate{
    @apply text-lg font-bold ml-24;
}

.expTitle{
    @apply text-lg ml-24;
    color: #c4b9a3;
}

.logo{
    @apply ml-102 mb-2 w-32 h-32;
}


button:hover{
  background-color: #c4b9a3;
  color: #b5aa94;
}

button{
  background-color: #e3daca;
  color: #c4b9a3;
}

.baghdad,
.cairo{
  font-family: 'Amiri', serif;
  color: #c4b9a3;
}

.baghdad:hover{

}

.travelImgWide:hover,
.travelImgWideSmall:hover,
.travelImgTall:hover,
.projectImg:hover,
.projectImgSmall:hover
{
  webkit-filter: sepia(1) brightness(.95); /* Chrome, Safari, Opera */
  filter: sepia(1) brightness(.95);
}

.contact{
    @apply text-2xl ml-24 mb-24 py-3 leading-10
}


html{
  scroll-behavior: smooth;;
}
