@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer
}

@layer components{
    .w-42{
        width:10.5rem;
    }
    .w-76{
        width: 19rem;
    }
    .w-98{
        width: 25rem;
    }
    .w-106{
        width: 30rem;
    }
    .w-108{
        width: 32rem; 
    }
    .h-90{
        height: 22rem;
    }
    .h-106{
        height: 26.5rem;
    }
    .h-108{
        height: 32rem;
    }
    .ml-100{
        margin-left: 30rem;
    }
    .ml-102{
        margin-left: 36rem;
    }
    .ml-104{
        margin-left: 42rem;
    }
    .ml-106{
        margin-left: 48rem;
    }
    .ml-218{
        margin-left: 64rem;
    }
    .ml-220 {
        margin-left: 66rem;
    }
    .ml-228{
        margin-left: 72rem;
    }
    .ml-300{
        margin-left: 92rem;
    }
    .gap-x-22{
        column-gap: 86px;
    }
}

h1,
h3,
h4,
h5,
h6,
h7,
h8,
h9,
p,
a {
  font-family: 'Lato', sans-serif;
  color: #e3daca;
}

h1{
    @apply text-7xl font-bold ml-24 pt-2;
    @apply xl:text-8xl xl:ml-36 xl:pt-4;
}

h2 {
    @apply text-2xl font-bold ml-24 mt-5;
    @apply xl:text-3xl xl:ml-36 xl:mt-7;
    font-family: 'Lato', sans-serif;
    line-height:1.25em; 
    color:#d9cfbd;
}

h3 {
    @apply text-6xl font-bold ml-24 mt-5 mb-2;
    @apply xl:ml-36 xl:mt-8 xl:mb-4;
}

h4 {
    @apply text-4xl font-bold ml-24 mt-4 mb-2;
    @apply xl:text-5xl xl:ml-36 xl:mt-8 xl:mb-4;
}

h5, h6, h7 {
    @apply text-6xl font-bold ml-24 mt-20 py-6;
    @apply xl:ml-36 xl:mt-24 xl:py-9;
}

.front-page{
    height: 100vh;
    width: 100%;
}

.navbar{
    @apply flex flex-row mt-5 mb-16 ml-228;
    @apply xl:text-lg xl:mt-7 xl:mb-16 xl:ml-300;
    font-family: 'Lato', sans-serif;
    color: #e3daca;
    text-align:right;
  }
  
  .navItem{
      @apply mr-3;
  }

.skillsFlexBox{
    @apply flex-col ml-24 text-xl;
    @apply xl:ml-36 xl:text-2xl xl:gap-y-4;
    color:#d9cfbd;
}

.moreSkills{ 
    @apply ml-7; 
    @apply xl:ml-10;
}

.skillImg{
    @apply inline w-6 h-6;
    @apply xl:w-9 xl:h-9;
}

.skillMongoImg{
    @apply inline w-3 h-6 ml-2;
    @apply xl:w-5 xl:h-10 mr-1;
}

.expGrid{
    @apply grid grid-cols-2 gap-2;
    @apply xl:grid-cols-4 xl:gap-4
}

.expFlexBoxRow{
    @apply flex flex-row;
}

.expFlexBoxCol{
    @apply flex flex-col;
}

.expDate{
    @apply text-lg font-bold ml-24;
    @apply xl:text-2xl xl:ml-36;
}

.expTitle{
    @apply text-lg ml-24;
    @apply xl:text-3xl xl:ml-36 xl:w-96;
    color: #c4b9a3;
}

.logo{
    @apply ml-102 mb-2 w-32 h-32;
    @apply xl:ml-228 xl:w-44 xl:h-44;
}
.portfolioFlexBox{
    @apply flex flex-row ml-24 gap-x-22;
    @apply xl:ml-36 xl:gap-x-20;
}

.projectImg{
    @apply rounded-lg w-96 h-72 mb-6;
    @apply w-106 h-80;
}

.projectImgSmall{
    @apply rounded-lg w-56 h-32 mb-3;
}

.projectTitleSmall{
    @apply text-2xl font-bold mb-0.5 pb-0.5;
}

.projectTextSmall{
    @apply text-base mb-3 w-96;
}

.projectTitle{
    @apply text-3xl font-bold mb-2 pb-2;
    @apply xl:text-4xl xl:mb-3;
}

.projectText{
    @apply text-xl mb-3 w-96;
    @apply xl:text-2xl xl:mb-5 xl:w-106;
}

.projectTextAccented{
    @apply text-lg font-bold w-96;
    @apply xl:text-2xl xl:w-106;
    color: #c4b9a3;
}

.projectTextSmallAccented{
   @apply text-base font-bold w-96;
   color: #c4b9a3;
}

.techLogosFlexBox{
    @apply flex flex-row gap-x-1.5;
}

.projectGitLogo{
    @apply -mt-1 inline w-7 h-7 mb-6;
}

.projectTechLogo{
    @apply -mt-1 inline w-7 h-7 mb-6;
    @apply xl:w-9 xl:h-9 xl:mb-20;
}

.projectMongoLogo{
    @apply -mt-1 inline w-3 h-7 mb-6 ml-1;
    @apply xl:w-4 xl:h-9 xl:mb-20 xl:ml-1.5;
}

.addBotButton{
   @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer;
   @apply xl:text-sm;
}

.moreProjectsTitle{
    @apply text-5xl font-bold ml-218;
}

.travelFlexBox{
    @apply flex flex-row ml-24 gap-x-16 mb-20;
    @apply xl:ml-36 xl:gap-x-20;
}

.travelImgWide{
    @apply rounded-md w-76 h-96;
    @apply xl:rounded-lg xl:w-96 xl:h-108;
}

.travelImgWideSmall{
    @apply rounded-md mb-3 w-44 h-96;
    @apply xl:w-60 xl:h-80;
}

.travelImgTall{
    @apply rounded-md w-56 h-108;
}

.travelBlogTitle{
    @apply text-xl font-bold mt-3;
    @apply xl:text-2xl xl:mt-5;
}

.travelBlogDate{
    @apply accented text-base font-bold mb-2;
    @apply xl:text-lg
}

.travelBlogBio{
    @apply text-lg my-3 w-76 pb-6;
    @apply xl:text-xl xl:my-5 xl:w-96;
}

.travelBlogTitleSmall{
    @apply accented text-base font-bold mt-3 w-48;
    @apply xl:text-lg xl:w-60;
}

.travelBlogDateSmall{
    @apply text-sm font-bold mb-3
}

.moreTravelTitle{
    @apply text-5xl font-bold;
    @apply xl:text-7xl xl:w-56;
}

.contact{
    @apply text-2xl ml-24 mb-24 py-3 leading-10;
    @apply xl:text-3xl xl:ml-36 xl:leading-relaxed;
}


.accented{
  color: #c4b9a3;
}

.link{
    color: #b5aa94;
    text-decoration: underline; 
}

.link:hover{
    background-color: rgb(181, 170, 148,0.2)
}

.hover:hover, 
.addBotButton:hover {
  color: #c4b9a3;
}

.hoverAccented:hover {
  color: #b5aa94;
}

button:hover{
  background-color: #c4b9a3;
  color: #b5aa94;
}

button{
  background-color: #e3daca;
  color: #c4b9a3;
}

.baghdad,
.cairo{
  font-family: 'Amiri', serif;
  color: #c4b9a3;
}

.baghdad:hover{

}

.travelImgWide:hover,
.travelImgWideSmall:hover,
.travelImgTall:hover,
.projectImg:hover,
.projectImgSmall:hover
{
  webkit-filter: sepia(1) brightness(.95); /* Chrome, Safari, Opera */
  filter: sepia(1) brightness(.95);
}

html{
  scroll-behavior: smooth;;
}
